
body {
  font-family:sans-serif
}

.custom-menubar .p-menuitem {
    margin-right: 1rem;
    
  }
  .p-menuitem a{
    text-decoration: none;
    padding: 0px 15px;
    color: rgb(175, 173, 173);
  }
  .naver img{
    height: 41px;
    width:160px;
  }
  .head1{
    margin-top: 150px;
  }
  .head2{
    margin-top: 50px;
    
  }
  
  .hr{
    width: 56px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
  }
  .card{
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  }
  .carding{
text-align: center;
margin-left: 100px;

  }
  .card h2{
    padding-top: 10px;
  }
  .head3{
    margin-left:200px;
    margin-top: 50px;
  }
  .hr1{
    width: 56px;
    height: 15px;
    margin-right: auto;
    font-weight: bolder;
    text-align: start;
  }
  .card1{
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
border-radius: 5px;
  }
  .card1 h5{
    margin-top: 15px;

  }
  .king{
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    color: #FFFFFF;
    border-radius: 40px;
  }
  .king1{
    background: linear-gradient(183.41deg, #000000 -8.57%, #000000 82.96%);
    color: #FFFFFF;
    border-radius: 40px;
  }
  .khan img{
    width:14px;
    height:9px;
    margin-top: 10px;
    margin-left: 15px;
  }
  .khan{
    color: blue;
  }
  .logoo{
    color: white;
    border-radius: 20px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);

  }
  .logo2 img{
background-color: white;
color: blue;
padding: 5px;
border-radius: 100%;
object-fit: contain;
width: 20px;
height: 25px;

  }
  .logo1 p{
    color: #FFFFFF;

    padding-top: 5px;
  }
  .logo3 p{
    color: #FFFFFF;
    padding-top: 3px;
  }
 .head2 Button{
  border-radius: 20px;
 }
 .head4 Button{
  border-radius: 20px;
 }
 .head3 Button{
  border-radius: 20px;
 }
